.widget {
    &.meter {
        background-color: #9c4274;
        .value {
            font-weight: 400;
            font-size: 1.1em;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.3);
        }
        .meter-nums {
            font-size: 1.3em;
            color: #fff;
        }
        .meter-progress {
            display: inline-block;
            border-radius: 0.4em;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
            width: 70%;
            height: 2em;
            margin: 1.5em 0;
            overflow: hidden;

            background-image: -webkit-linear-gradient(to bottom, rgba(235, 235, 235, 0.2) 0, rgba(245, 245, 245, 0.2) 100%);
            background-image: -moz-linear-gradient(to bottom, rgba(235, 235, 235, 0.2) 0, rgba(245, 245, 245, 0.2) 100%);
            background-image: linear-gradient(to bottom, rgba(235, 235, 235, 0.2) 0, rgba(245, 245, 245, 0.2) 100%);
            background-repeat: repeat-x;

            &-bar {
                box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
                color: #fff;
                float: left;
                font-size: 12px;
                height: 100%;
                line-height: 20px;
                text-align: center;
                transition: width 0.6s ease 0s;
                width: 0;

                background-color: #ededed;
                background-image: -webkit-linear-gradient(to bottom, #ededed 0, #e2e2e2 100%);
                background-image: -moz-linear-gradient(to bottom, #ededed 0, #e2e2e2 100%);
                background-image: linear-gradient(to bottom, #ededed 0, #e2e2e2 100%);
                background-repeat: repeat-x;
            }
        }
    }
}
@media screen and (max-width: 650px) {
    .widget.meter {
        height: 300px;
    }
}
